.editorWraper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100vw;
  max-height: 100vh;
}
.fileSystem{
  width: 20%;
}
.editor{
  width: 80%;
}
.ls {
  /* max-width: 80%; */
}
.rs {
  max-width: 20%;
}


